.navbar {

  height: 60px;
  width: 1000px;
  margin-right: 100px;
  border-radius: 10px;
  border: 1px solid rgba(61, 61, 61, 0.20);
  background: hsl(199, 93%, 33%);



}

.container {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 200px;

}

.small-1 {
  border-radius: 50px;
  background-color: aliceblue;
  margin-left: 30px;
  height: 30px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}




.logo {
  width: 50px;
  height: auto;
}


.input-group select {}

.custom-width {
  width: 200px;
}

.width {
  width: 300px;
}

.input-group-text logo {
  width: 40px;
  height: 20px;
  height: auto;
}

.thtt {
  width: 250px;
  margin-right: 50px;

}