

@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400&display=swap');


.dashboard-content{
    width: 1000px;
    font-size: 12px;
    
}
.col-9{
    
}
body {
    margin: 0;
    padding: 0;
  }
  
  .container-fluid {
    display: grid;
    grid-template-columns: auto 1fr;
    
  }
  
  